body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.header {
    background: #cff6ed;
    width: 100%;
}

h1, h2 {
    color: green;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

.centered {
    display: flex;
    justify-content: center;
}

form {
    margin-top: 20px;
    background: #fff;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-bottom: 20px;
    width: 60%;
}

label {
    width: 100%;
}

input {
    margin-left: 4px;
    padding: 11px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 95%;
}

input:focus {
    border: 1px solid #126805;
}

button {
    margin-right: 4px;
    background-color: #1a4c0a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

button:hover {
    background-color: #126805;
}

ul {
    list-style: none;
    padding: 0;
    width: 80%;
    max-width: 600px;
}

li {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}